div.center{margin:auto;
           background-color: #333;
           height: 200px;
           width: 100%;
           float: left;
          }

div.center1{margin: auto;
            background-color: skyblue;
            height: 620px;
            width: 20%;
            float: left;
           }

div.center2{margin:auto;
            height: 620px;
            width: 80%;
            float:left;
           }

div.center3{margin: auto;
            background-color: #333;
            height: 120px;
            width: 100%;
            float:left;
           }
           
h1{text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   font-size: 50px;
   color:whitesmoke;
   padding: 10px;
   letter-spacing:10px;
  }

h2{text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-style: oblique;
   font-size: 40px;
   color: whitesmoke;
   padding: 1px;
   letter-spacing: 5px;
  }
  
h3{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  letter-spacing: 2px;
  background-color: whitesmoke;
  font-size: 30px;
}

h4{
  font-family: fantasy;
  font-style: oblique;
  letter-spacing:3px;
  font-size: 45px;
  text-align: center;
}

p{font-family: fantasy;
  font-style: italic,bold;
  letter-spacing: 2px;
  text-align: center;
}
  
.topnav {background-color: #333;
         overflow: hidden;
         text-align: center;
        }

.topnav a {
           color: #f2f2f2;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none;
           font-size: 30px;
          }
          
.topnav a:hover {background-color: #ddd;
                 color: black;
                }

.topnav a.active{
  background-color:#04AA6D;
  color: white;
}

.center1 h2{
  font-size: 30px;
  color: #333;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin:auto;
    
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    width: 1000%;
    height:620px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.image{
  text-align: center;
}

.image img{
 width: 100%;
 height: 620px;

}

